.App {
  text-align: left;
}

.App-header {
  background-color: #09BC8A;
  min-height: 80px;
  align-items: left;
  vertical-align: bottom;
  width: 100vw;
}

.App-button {
  background-color: transparent;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 20px;
}

.Home-subtitle {
  font-size: 24px;
  color: white;
  padding: 20px;
  background-color: #508991;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Home-text {
  font-size: 20px;
  text-align: justify;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border: 1px solid #004346;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #d3d2d2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #004346;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #508991;
}

a:link {
  color: #172A3A
}

a:visited {
  color: #508991
}